<div class="wrapper">
    <div class="center">

        <img src="/assets/img/cartoon_burger.jpg" alt="burger">

        <h1 class="red center-text">Eat-Da-Burger!</h1>

        <ul>
            {{#each burgers}}
            <li>{{id}}. {{burger_name}}</li>
            {{/each}}
        </ul>

        <h2 class="red center-text">Add a Burger</h2>
        <form class="create-form center">

            <div class="form-group">
                
                <input type="text" id="ca" name="name">
            </div>

            <button type="submit">Add Burger</button>
        </form>
    </div>
</div>

<script>
    $(function () {
        $(".create-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            var newBurger = {
                name: $("#ca").val().trim(),
            };

            // Send the POST request.
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("created new burger");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        })
    })
</script>