.center {
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

body {
    background-color: #ffdb58;
}

.red {
    color: red;
}

.center-text {
    text-align: center;
}